extends layout

block content
  h1= title
  - let trees  = results;
  div(class="container-fluid mt-3")
    div(class="row")
      each tree,index in trees
        - let destination = `dispatch(\"/trees/update?id=${tree._id}\")` 
        div(class="col-sm-4" onclick=`buy(${index})`) #{tree.treeColor} - #{tree.age} - #{tree.name}
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script.
    function buy(itemNo)
    {
      alert(`You selected Item ${itemNo+1}`)
    }
    function dispatch(path){ 
      window.location.href=path 
    } 