extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let tree = toShow._id 
    - let treeColor = toShow.treeColor 
    - let age = toShow.age 
    - let name = toShow.name 
    - let actionid = "/resource/tree/" + tree 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='treeAttr mr-3') Tree ID is: 
        div #{tree} 
      div.row 
        div(class='treeAttr mr-3') treeColor is: 
        div #{treeColor} 
      div.row 
        div(class='treeAttr mr-3') Tree age is: 
        div #{name} 
      div.row 
        div(class='treeAttr mr-3') Tree name is: 
        div #{age} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the tree collection 
      window.location.href='/tree' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/tree' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 